body{
	margin: 10px;
	width: 500px;
}
#input{
	padding: 10px;
	width: 100%;
	height: 100%;

}
.output{

	padding: 10px;
	width: 100%;
	height: 20px;
}

#showmore{
	margin-top: 5px;
	display: inline-block;
	float: right;
}

.wow{
	height: 500px;
}
.more{
	display: none;
}

get_suggestion{
	background-color:blue;
}

.footer {
	padding-top: 30px;
	height: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: black;
}